.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  place-content: center;
  
  .am-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  
  * {
    cursor: pointer;
  }
}
