@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/heebo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --bg: #111316;
  --logo: url(/assets/threads.svg);
  --logopng: url(/assets/thread.png);
  --ticket: url(/assets/ticket-shape.svg);
  --gutter: 8%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --canvas: 220;
  --bg: hsl(var(--canvas), 15%, 22%);
  --fg: hsl(var(--canvas), 39%, 95%);
  --link: hsl(var(--canvas), 90%, 80%);
  --linkh: hsl(150, 95%, 70%);
  --wgt: 200;
}

body,
html {
  font-family: heebo, sans-serif;
  color: var(--fg);
  font-weight: var(--wgt);
}

.social-icon {
  stroke-width: 1.25;
  stroke: currentColor;
  fill: transparent;
  background: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: fixed;
  bottom: 0.65vmax;
  right: 0.65vmax;
  width: 1.56vmax;
  height: 1.56vmax;
  z-index: 10;
  animation: iconsLoad 10s ease both 5s;
}

.social-icon path {
  fill: none;
}
.social-icon.twitter {
  right: 2.6vmax;
  animation-delay: 4s;
}

.social-icon.codepen {
  bottom: 0.65vmax;
  right: 5.21vmax;
  width: max-content;
  animation-delay: 3s;
}

@keyframes iconsLoad {
  from {
    opacity: 0;
    transform: translateY(-1.3vmax);
  }
  to {
    opacity: 1;
    transform: translateY(0vmax);
  }
}

.ticket {
  --scale: 1;
  transform: translate3d(0, 0, 0.05vmax) scale(var(--scale)) rotateY(var(--r));
  transform-style: preserve-3d;
  pointer-events: auto;
}

.front,
.back {
  grid-area: 1/1;
  background-color: #6e6176;
  background-image: radial-gradient(
    circle at var(--p) 50%,
    #fff 10%,
    transparent 100%
  );
  background-size: 100% 220vh;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  backface-visibility: visible;
  border-radius: 0.98vmax;
  transform: translateZ(0.07vmax);
  transform-style: preserve-3d;
  mask-image: var(--ticket);
  mask-size: cover;
  mask-repeat: no-repeat;
}

.cutout {
  position: absolute;
}

.front::after,
.back::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    -70deg,
    transparent 40%,
    rgba(255, 255, 255, 0.5) 40.5%,
    transparent
  );
  background-size: 200% 200%;
  background-position: var(--p) var(--p);
  z-index: 5;
  opacity: calc(var(--o) + 0.5);
  pointer-events: none;
}

.front {
  transform: rotateY(180deg) translateZ(0.1vmax);
}

.holo {
  display: block;
  position: absolute;
  inset: 0;
  border-radius: 0.7vmax;
}

.holo {
  --space: 5%;
  --red: hsl(0, 100%, 50%);
  --orange: hsl(30, 100%, 50%);
  --yellow: hsl(60, 100%, 50%);
  --green: hsl(120, 100%, 50%);
  --cyan: hsl(180, 100%, 50%);
  --blue: hsl(222, 100%, 50%);
  --purple: hsl(258, 100%, 50%);
  --magenta: hsl(300, 100%, 50%);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--red) 0%,
    var(--orange) calc(var(--space) * 1),
    var(--yellow) calc(var(--space) * 2),
    var(--green) calc(var(--space) * 3),
    var(--cyan) calc(var(--space) * 4),
    var(--blue) calc(var(--space) * 5),
    var(--purple) calc(var(--space) * 6),
    var(--magenta) calc(var(--space) * 7),
    var(--red) calc(var(--space) * 8)
  );
  background-size: 150vw 150vh;
  background-position: calc(var(--h)) calc(var(--h));
  background-repeat: no-repeat;
  mask-image: var(--logopng);
  mask-size: 4% 4%;
  mask-repeat: repeat;
  mix-blend-mode: plus-lighter;
  filter: brightness(0.9) contrast(0.7) saturate(2);
  opacity: var(--o);
}

.logo,
.data {
  position: relative;
  z-index: 2;
}

.logo {
  width: 50%;
  place-self: center;
  transform: translateY(-14%);
}

.back .logo {
  position: absolute;
  right: var(--gutter);
  top: 13%;
  width: 16%;
  image-rendering: optimize-speed;
  image-rendering: crisp-edges;
}

.data {
  margin: 14% var(--gutter);
  text-transform: uppercase;
}

[contenteditable] {
  outline: none;
}

[contenteditable]:focus {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.qr {
  max-width: 30%;
  display: block;
  image-rendering: optimize-speed;
  image-rendering: crisp-edges;
}

.divider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 2%;
  left: 0;
  right: 0;
  height: 18%;
  padding: 0 var(--gutter);
  background-image: repeating-linear-gradient(
      90deg,
      #fff0 0vmax,
      #fff0 0.52vmax,
      #0005 0.52vmax,
      #0005 1.04vmax
    ),
    radial-gradient(ellipse at center center, #fff0 10%, transparent 50%);
  background-size: 100% 0.1vmax, 250% 0.1vmax;
  background-position: -0.26vmax top, var(--h) top;
  font-size: 1.04vmax;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  font-weight: 400;
  z-index: 2;
}

.username {
  display: flex;
  align-items: center;
  font-family: heebo;
  font-weight: 600;
}

.profile {
  border-radius: 100%;
  width: 2.6vmax;
  box-shadow: 0 0 0 0.09vmax black;
  margin-right: 0.65vmax;

  image-rendering: optimize-speed;
  image-rendering: crisp-edges;
}

.verified {
  width: 1.17vmax;
  margin-left: 0.33vmax;
}
.usernum {
  font-size: 1.3vmax;
}

* {
  box-sizing: border-box;
}

.am-card-container {
  cursor: pointer;
  color: black;
  font-family: 'Roboto Mono', monospace;
  display: grid;
  grid: 1fr/1fr;
  place-content: center;
  overflow: hidden;
  z-index: 999;
  width: 20vmax;
  height: 30vmax;
  padding: 3.26vmax;
  perspective: 78.13vmax;
  --o: 0;
  --p: 100%;
  --h: 50%;
  --r: 0;

  a {
    color: var(--link);
    text-decoration: none;
    font-weight: 450;
    transition: all 0.3s ease;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--linkh);
  }

  button {
    background: hsl(var(--canvas), 10%, 10%);
    color: inherit;
    border: none;
    border-radius: 0.52vmax;
    padding: 0.26vmax 0.52vmax;
    font-family: inherit;
    font-size: inherit;
  }

  h3 {
    font-weight: 400;
    line-height: 1;
    font-size: 1.3vmax;
    margin: 0.21vmax 0;
  }

  p {
    font-size: 2.08vmax;
    margin: 0.21vmax 0 1.04vmax;
    font-weight: 400;
    line-height: 1;
  }

  img {
    display: block;
    max-width: 100%;
  }

  h1 {
    position: fixed;
    top: 1.30vmax;
    text-align: center;
    z-index: 1;
  }
}

.ticket {
  display: grid;
  grid-area: 1/1;
  width: 20vmax;
  height: 29vmax;
  zoom: 0.8;
}
