.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  place-content: center;
  background-size: cover;
  background-position: center;
  
  * {
    cursor: pointer;
  }
}
