.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  place-content: center;
  background-image: url('/assets/dialog-share.svg');
  
  * {
    cursor: pointer;
  }
}
